body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em, img {
	margin:0;
	padding:0;
	border:0;
}
ul, ol, li {
	list-style:none !important;
	text-decoration: none !important;
}

input, button {
	margin:0;
	font-size:14px;
	vertical-align:middle;
}
body {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	margin:0 auto;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a {
	font-size: 16px;
	color:#333;
	text-decoration:none!important;
}
a:link {color:#7B7B7B;}      /* 未访问链接*/
a:hover {color:#000000;}  /* 鼠标移动到链接上 */
a:active {color:#000000;}  /* 鼠标点击时 */
a:visited {color: #7B7B7B}
.box-lanrenzhijia {
	position: relative;
	height: 80px;
 	width: 600px;
	padding:15px;
	margin: 10px auto;
	overflow: hidden;
}
.box-lanrenzhijia li {
	float:left;
	margin-right:20px;
}
.box-lanrenzhijia li.back {
	border-bottom: 3px solid #7bbfea;
	width:9px;
	height:43px;
	z-index: 8;
	position: absolute;
}
.box-lanrenzhijia li a {
	outline: none;
	text-align: center;
	top: 7px;
	text-transform: uppercase;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
}
.box-lanrenzhijia li a:hover, .box-lanrenzhijia li a:active, .box-lanrenzhijia li a:visited {
	border: none;
}
