<div style="margin: 30px">
<h3>公司介绍</h3>
<div style="margin: 20px">
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xxx公司成立于...
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
公司多年来...
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
公司有...
</p>

<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
公司...
</p>
</div>
</div>
<div id="imgs">
{% load staticfiles %}

<div class="row">

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\company\1.jpg" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\company\2.jpg" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\company\3.png" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\company\4.png" %}" alt="..." style="height: 200px">
    </a>
  </div>

</div>

</div>
