<div style="margin: 30px">
<h3>业务范围</h3>
{% load staticfiles %}

<div style="float: left;width: 40%"> 
<div style="float: left;width: 10%">
</div>
<div style="float: right;width: 90%">
<ul> 
    <li>xxx</li> 
    <li>xxx</li> 
    <li>xxx</li> 
    <li>xxx</li> 
    <li>xxx</li> 
    <li>xxx</li> 
    <li>xxx</li> 
    <li>xxx</li> 
    <li>xxx</li> 
</ul> 
</div>
</div>

<div style="float:right;width: 60%">
<div class="container" style="width: 600px;height: 300px">
<div id="myCarousel" class="carousel slide">
  <!-- 轮播（Carousel）指标 -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>

  </ol>   
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static "product\1\dema.png" %}" width="600px"  alt="..." style="height: 350px">
      <p><center>xxx</center></p>
    </div>
    <div class="item">
      <img src="{% static "\product\2\1.jpg" %}" width="600px" alt="..." style="height: 350px">
      <p><center>xxx</center></p>
    </div>
    <div class="item">
      <img src="{% static "\product\3\10.png" %}" width="600px" alt="..." style="height: 350px">
      <p><center>xxx</center></p>
    </div>
    <div class="item">
      <img src="{% static "\product\4\2.jpg" %}" width="600px" alt="..." style="height: 350px">
      <p><center>xxx</center></p>
    </div>
    <div class="item">
      <img src="{% static "product\6\3.png" %}"  width="600px" alt="..." style="height: 350px">
      <p><center>xxx</center></p>
    </div>
    <div class="item">
      <img src="{% static  "\product\5\5.jpg" %}"  width="600px" alt="..." style="height: 350px">
      <p><center>xxx</center></p>
    </div>
    <div class="item">
      <img src="{% static "product\7\2.png" %}" width="600px" alt="..." style="height: 350px">
      <p><center>xxx</center></p>
    </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <a class="carousel-control left" href="#myCarousel" 
     data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" 
     data-slide="next">&rsaquo;</a>
</div> 

</div>
</div>

</div>
