<div style="background: #87CEFA;height: 600px">

  {% load staticfiles %}
<div style="float: left;">
<br><br>
    <h1><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xxx公司</font></h1>
    <p><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xxx Co.</font></p>
</div>
<!--<img src="{%static 'earth.png' %}" height="650px">-->
<div style="float: left;">
<img src="{%static 'earth.png' %}" height="500px" width="600">
</div>
</div>