<!--
<div>

   {% for product in myProducts %}
   <p> {{product.name}} </p>
   {% endfor%}

</div>
-->

<div id="imgs" style="margin: 30px">
{% load staticfiles %}


<h3>代理销售机床</h3>
<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static "product\1\dema.png" %}" alt="..." style="height: 200px">
      <div class="caption">
        <p><center>德马、欧马加工中心</center></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static "product\1\woche.png" %}" alt="..." style="height: 200px">
      <div class="caption">
        <p><center>程泰卧车、油机立车</center></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static "product\1\demaji.png" %}" alt="..." style="height: 200px">
      <div class="caption">
        <p><center>德马吉DMG机床</center></p>
      </div>
    </div>
  </div>

  <!-- 分界线 -->
</div>

<h3>机床样机演示及试切</h3>

<div class="row">

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\2\1.jpg" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\2\2.jpg" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\2\3.png" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\2\4.png" %}" alt="..." style="height: 200px">
    </a>
  </div>
  <!-- 分界线 -->
</div>

<h3>充足的备品备件</h3>
<div class="row">

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\1.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\2.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\3.png" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\4.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\5.png" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\6.png" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\7.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\8.png" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\9.png" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\10.png" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\11.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\3\12.png" %}" alt="..." style="height: 150px">
    </a>
  </div>
  <!-- 分界线 -->
</div>

<h3>专业的夹具设计与制造</h3>

<div class="row">

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\4\1.png" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\4\2.jpg" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\4\3.png" %}" alt="..." style="height: 200px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\4\4.png" %}" alt="..." style="height: 200px">
    </a>
  </div>
  <!-- 分界线 -->
</div>

<h3>自动化项目设计制造</h3>
<div class="row">

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\5\1.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\5\2.png" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\5\3.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\5\4.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\5\5.jpg" %}" alt="..." style="height: 150px">
    </a>
  </div>

  <div class="col-xs-6 col-md-2">
    <a href="#" class="thumbnail">
      <img src="{% static "\product\5\6.png" %}" alt="..." style="height: 150px">
    </a>
  </div>
</div>

<h3>数控机床大修</h3>
<div class="row">

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{% static "product\6\1.png" %}" alt="..." style="height: 200px">
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{% static "product\6\4.png" %}" alt="..." style="height: 200px">
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{% static "product\6\2.png" %}" alt="..." style="height: 200px">
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{% static "product\6\3.png" %}" alt="..." style="height: 200px">
    </div>
  </div>
  <!-- 分界线 -->
</div>

<h3>机床加装对刀仪/自动测头/刀具破损检测/机械手刀库等功能部件</h3>
<div class="row">

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{% static "product\7\1.png" %}" alt="..." style="height: 200px">
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{% static "product\7\2.png" %}" alt="..." style="height: 200px">
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{% static "product\7\3.jpg" %}" alt="..." style="height: 200px">
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{% static "product\7\4.png" %}" alt="..." style="height: 200px">
    </div>
  </div>
  <!-- 分界线 -->
</div>

</div>